body {
  background-image: url('love.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  width: 400px;
  margin: 10px auto;
  background-color:rgba(255, 192, 203, 0.623);
  border-radius: 50px;
}
.container {
  display: flex;
  justify-content: center;
}
.crossed {
  text-decoration: line-through red 2px;
}
h1{
  font-size: 40px;
  font-family: 'Akaya Telivigala', cursive;
}
ul, li {
  list-style-type:decimal;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  font-family: 'Akaya Telivigala', cursive;
  font-weight: bold;
}
.add {
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  font-size: 22px;
  font-family: 'Akaya Telivigala', cursive;
  background-color: rgba(0, 128, 0, 0.596);
  color: white;
  font-weight: bold;
}
.delete {
  margin-bottom: 10px;
  padding: 5px;
  width: 90%;
  font-size: 22px;
  font-family: 'Akaya Telivigala', cursive;
  background-color: rgb(255, 105, 138);
  color: white;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
}

@media all and (max-width:800px) {
  body{
    height: 100vh;
  }
  
}
@media all and (max-width:500px) {
  .App {
    width: 250px;
  }
}
